ion-content {
  --background: linear-gradient(45deg, #030753, #1721e7);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

ion-card {
  width: 300px;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(45deg, #ffffff, #f1f1f1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
